html {
  font-size: 62.5%;
}
body {
  margin: 0;
  font-family: "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;

  /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;
  /* background-color: #f1f2f3; */
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
  padding-left: 0 !important;
}
button,
input,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
  background: transparent;
  outline: none;
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
button,
select {
  text-transform: none;
  cursor: pointer;
}

a {
  text-decoration: none !important;
  cursor: pointer;
  user-select: auto;
}
.ql-editor {
  min-height: 210px;
}
.ql-editor:focus {
  border: 1px solid #38a9f0;
  box-shadow: 0px 0px 0px 4px hsla(206, 100%, 40%, 0.15);
  outline: 0;
}
